.quizz__container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.quizz_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quizz_logo > h3 {
  font-size: 24px;
  margin-top: 20px;
}
